<div class="detail_container" style="background-image:url(../assets/bg.png);">
    <div class="my-4 mx-auto">
        <div class="card card_container" style="width: 50rem;">
            <div class="card-body m-5">
                <h5 class="card-title header"><b>Viewing {{ contact.name }}</b></h5>
                <p class="card-text"><b>ID: </b>{{ contact.id }}</p>
                <p class="card-text"><b>Name: </b>{{ contact.name }}</p>
                <p class="card-text"><b>Email: </b>{{ contact.email }}</p>
                <p class="card-text"><b>Contact: </b>{{ contact.phone }}</p>
                <a routerLink="/" class="btn btn-primary">Go Back</a>
            </div>
        </div>
    </div>
</div>