<div class="container shadow-sm mt-4 p-1">
    <form [formGroup]="form" class="m-5">
        <div class="mb-3" *ngFor="let field of fields">
            <label class="form-label">{{ field.name }} <span style="color: red">*</span></label>
            <input type="{{ field.type == 'phone' ? 'tel' : field.type }}" class="form-control" formControlName="{{ field.type }}" placeholder="{{ field.placeholder }}" maxlength="{{ field.type == 'phone' ? 11 : 50 }}" required>
            <div *ngIf="this.form.controls[field.type].touched">
                <div *ngIf="!this.form.controls[field.type].value">· {{ field.placeholder }} is required!</div>
                <div *ngIf="this.form.controls[field.type].status == 'INVALID'">· {{ field.placeholder }} is not valid!</div>
                <div *ngIf="this.form.controls[field.type].status == 'INVALID' && field.type == 'phone'">· Phone number must be 11 digits</div>
            </div>
        </div>
        <div class="row">
            <div class="col-6" *ngFor="let button of buttons">
                <input
                    [disabled]="this.form.status == 'INVALID' && button.required"
                    (click)="button.name == 'Add' || button.name == 'Update' ? addContact(idEdit) : button.name == 'Reset' ? form.reset() : cancel()"
                    type="button" class="btn btn-{{ button.color }} w-100 {{ button.type }}" value="{{ button.name }}">
            </div>
        </div>
    </form>
</div>