<table class="table shadow-sm table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email Address</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts">
            <td scope="row" class="align-middle"><b>{{ contact.id }}</b></td>
            <td class="align-middle">{{ contact.name }}</td>
            <td class="align-middle">{{ contact.email }}</td>
            <td class="align-middle">{{ contact.phone }}</td>
            <td>
                <button class="btn btn-primary mx-1 color_btn" (click)="viewContact(contact)">View</button>
                <button class="btn btn-success mx-1" (click)="editContact(contact)">Edit</button>
                <button class="btn btn-danger mx-1" (click)="deleteContact(contact)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>