thead tr th{
    background-color: #62a1fe;
    color: #ffff;
    text-align: center;
    padding: 20px 0;
}
tbody{
    border-bottom: 4px solid #62a1fe;
}
tbody tr td{
    text-align: center;
    padding: 15px 0;
}
tbody tr{
    background-color: #ffff;
}
.color_btn{
    background-color: #62a1fe;
    border: 1px solid #62a1fe;
}