<table class="table shadow-sm table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email Address</th>
            <th scope="col">Contact Number</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts">
            <th scope="row">{{ contact.id }}</th>
            <td>{{ contact.name }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.phone }}</td>
        </tr>
    </tbody>
</table>